body {
  font-family: 'public pixel';
  color: #59FF73;
  background-color: black;
}
h1,
h5{
  color: #59FF73;
  font-family: 'public pixel';
  letter-spacing: 2px;
  text-align: center;

}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #E1D383;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;

}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ccc;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form .eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color:#eff664;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-bottom: 5px solid #3eb04f;
    transition: 0.3s;
    background-color: #59ff73;
}

.original-button:hover {
    border-bottom-width: 0;
    transform: translateY(5px);
}
